/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  background: url('../img/showcase.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-success {
  color: #20bf6b !important;
}

.btn-success {
  background-color: #1ca55c;
  border: none !important;
}

.bg-success {
  background-color: #1ca55c !important;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

@media screen and (max-width: 915px) {
  .first__card h1 {
    font-size: 1.8rem !important;
  }

  .first__card {
    margin-bottom: 1.5rem;
  }

  .first__card .card-body .container {
    padding: 0 !important;
  }
  
  .second__card .card-body .container {
    padding: 0 !important;
  }
}